@import url('./vendor/fonts/fonts.css');
body{
  font-family: 'Elevation', Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.section {
  padding: 20px;
  display: flex;
  width: calc(100vw - 40px);
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.progres-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  max-width: 295px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.progressbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  align-self: center;
  margin: auto;
  width: 210px;
}

.normal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.normal__input {
  padding: 7px;
  width: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 16px;
  border: #000 solid 1px;
  text-align: center;
}

.normal__input:focus {
  outline-color: #000;
}

.input__title {
  font-size: 18px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 30px;
}

.switch__label {
  cursor: pointer;
}

.switch__input {
  display: none;
}

.switch__span {
  display: block;
  width: 54px;
  height: 34px;
  background-color: #e0e0e0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.switch__span::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  top: 4px;
  left: 3px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.switch__input:checked + .switch__span {
  background-color: #008cff;
}

.switch__input:checked + .switch__span::before {
  right: 3px;
  left: auto;
}

#bar {
  transition:all .5s linear;
  -webkit-transition:all .5s linear ;
  -moz-transition:all .5s linear ;
  -ms-transition:all .5s linear ;
  -o-transition:all .5s linear ;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.animate {
  animation: rotate-animation 2s linear infinite;
  -webkit-animation: rotate-animation 2s linear infinite;
}

@keyframes rotate-animation{
  0% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
  100% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
}